*{
  padding: 0;
}
body{
  font-family: monospace;
  background: #171A21;
}
div{
  text-align: center;
}
button.open{
  margin-top: 20px;
  padding: 20px 60px;
  border: 2px solid #8A0;
  background: transparent;
  color: #8A0;
  letter-spacing: .2em;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
}
button.open:hover{
  color: #fff;
    border: 2px solid #8A0;
    box-shadow: 0 0 10px #8A0;
    background: rgba(136,170,0,0.2);	
}
div.gif img{
  text-align: center;
  margin-top: 60px;
}

/*Modal*/
dialog{
  width: 50%;
  border: 4px solid #171A21;
  background: #8A0;
  color: #fff;
  box-shadow: 10px 10px 20px rgba(136,170,0,0.2);
}
dialog h1{
  background: #2C5876;
  padding: 20px;
  margin: 0;
  position: relative;
  overflow: hidden;
}
dialog button{
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px 30px;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  background: #8A0;
  border: none;
  outline: none;
  transition: .3s;
}
dialog button:hover{
  transform: rotate(180deg);
}
dialog p{
  padding:0 20px;
}
dialog p:last-child{
  padding-bottom: 20px;
}
dialog img{
  max-width: 150px;
  float: left;
  margin-right: 20px;
}
::backdrop{
  background: rgba(0,0,0,0.8);
}

footer{
  background: #8A0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer a{
  text-decoration: none;
  font-size: 22px;
  color: #fff; 
}
footer img{
  width: 36px;
  margin-left: 10px;
}
